.grad {
    background: red;
    background: radial-gradient(darkgrey 5%, maroon 120%);
}

h1 {
    padding-top: 50px;
    padding-right: 330px;
    padding-left: 240px;
    font-family: 'Frijole';
    font-size: 45px;
    text-shadow: 4px 2px grey;
}

p {
    padding-bottom: 0px;
    padding-right: 240px;
    padding-left: 320px;
    font-family: 'Indie Flower';
}

h4 {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 180px;
    font-family: 'Frijole';
    text-shadow: 4px 2px grey;
}


img {
    padding-left:450px;
    transform: rotate(0deg); 
    width: 100px;
    height: 120px;
    background-color:none;
    
  
}

    
#grow:hover
{
        
        transform: scale(1.3);
        
}


.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-180deg);
}

@keyframes swing
{
    15%
    {transform: translateX(20px); }
    30%
    { transform: translateX(-20px); }
    50%
    { transform: translateX(4px); }
    65%
    { transform: translateX(-4px);}
    80%
    {transform: translateX(3px);}
    100%
    {transform: translateX(0);}
}

.swing:hover
{
        
        animation: swing 2s ease;
        animation-iteration-count: 3;
}